[class*="col-"] {
    background-color: rgb(0,108,250);
    height: 50px;
    text-align: center;
    border: 1px white solid;
    color: white;
    padding: 12px;
}

.row .row > div{
    background-color: rgb(0,225,101);
    border:1px solid rgb(0,108,250);
    height: 25px;
    padding: 3px;
}